@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap')

// Fonts
$heading: 'Raleway', sans-serif
$body: 'Open Sans', sans-serif

// Color variables
$intro-bg: hsl(217, 28%, 15%)
$main-bg: hsl(218, 29%, 13%)
$footer-bg: hsl(216, 56%, 9%)
$testimonial-bg: hsl(220, 30%, 18%)
$cyan-cta: hsl(176, 68%, 64%)
$blue-cta: hsl(198, 61%, 50%)

// ---------------------- Global Styles --------------------------------

*,*::before,*::after
    box-sizing: border-box

body
    margin: 0
    font-family: $body
    background: $intro-bg
    color: white

html
    scroll-behavior: smooth

.flex-c
    display: flex
    justify-content: center
    align-items: center


.flex-b
    display: flex
    justify-content: space-between
    align-items: center

.container
    max-width: 1350px
    margin: 0 auto
    padding: 0 1.5rem

.container-sm
    max-width: 70%
    margin: 0 auto

h1,h2,h3
    font-family: $heading

img
    max-width: 100%

a
    text-decoration: none
    color: white

.btn
    background: linear-gradient(to right, $cyan-cta, $blue-cta)
    padding: 1.1rem 6rem
    font-family: $heading
    font-weight: 700
    font-size: 1rem
    color: white
    border: none
    border-radius: 30px



// -------------------- content style -----------------------------------
header
    padding: 4rem 0

    .menu
        a
            @extend a
            color: white
            display: inline-block
            padding: 1rem

            &:hover
                text-decoration: underline

        a:not(:last-child)
            margin-right: 1.5rem

// -------------------- Hero style -----------------------------------
.hero
    text-align: center

    h1
        font-size: 2.5rem
        max-width: 700px
        margin: 2rem auto
        line-height: 1.5em
    
    p
        font-size: 1.3rem
        max-width: 650px
        margin: 2rem auto
        line-height: 1.5em

// -------------------------- features style ---------------------------

.features
    background: $main-bg
    position: relative
    margin-top: 9rem

    &::before
        content: ""
        display: inline-block
        background: url("./images/bg-curvy-desktop.svg") no-repeat top / 100% 75%
        position: absolute
        width: 100%
        height: 100%
        top: -25rem
        left: 0
        z-index: -1
        
    .feature-grid
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(46%, 1fr))
        grid-template-rows: repeat(2,1fr)
        justify-items: center
        align-items: center
        grid-gap: 5rem 3rem
        text-align: center

        .feature
            padding: 1rem 2rem

            h3
                font-size: 1.2rem
                margin: 2rem 0 .5rem 0
                font-weight: 700

            p
                margin: 0
                font-size: .9rem
                padding: 0 1rem
                max-width: 400px
                margin: 0 auto
       
.productive
    background: $main-bg
    padding-top: 5rem

    &__text
        max-width: 47%
        padding: 1rem

        h2
            font-size: 2.7rem
        
        a
            color: $cyan-cta
            border-bottom: 1px solid $cyan-cta
            padding: 0 1.3rem .3rem 0

        .arrow
            position: relative
            top: .2rem
            left: -.8rem

            
.quotes
    background: $main-bg
    padding: 9rem 0
    
    
    .container
        max-width: 84%
        margin: 0 auto
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr))
        grid-gap: 2rem
        position: relative
        z-index: 2

        &::before
            content: ""
            display: inline-block
            position: absolute
            background: url("./images/bg-quotes.png") no-repeat top / 100% 100%
            background-repeat: no-repeat
            width: 3.2rem
            height: 3rem
            top: -2.3rem
            left: 1rem
            z-index: -1

    .quote
        padding: 1.5rem
        background: $testimonial-bg
        box-shadow: 5px 5px 15px rgba(black, .15)
        border-radius: 5px

        &__text
            font-size: .9rem
            margin-bottom: 1.5rem
        
        &__person
            justify-content: flex-start

        &__person-image
            width: 1.5rem
            height: 1.5rem

            img
                border-radius: 50%

        .name
            margin-left: .5rem

            h5
                margin: 0
                font-size: .7rem

            p
                font-size: .6rem
                margin: .2rem 0 0

.cta
    background: $main-bg
    .container-sm
        max-width: 60%

    &__block
        background: lighten($intro-bg,3%)
        text-align: center
        padding: 2.7rem 2rem
        position: relative
        z-index: 10
        top: 7rem
        box-shadow: 0px 5px 15px rgba(black, .2)
        border-radius: 7px

        h2
            font-size: 2rem
            margin-top: 0

        p
            max-width: 85%
            font-size: .9rem    
            margin: 0 auto

    &__form
        margin-top: 2rem

        #email
            padding: 1rem 2rem
            border: none
            border-radius: 30px
            width: 60%

            &::placeholder
                font-family: $body
                color: #bbb
        
        .btn-sm
            padding: 1rem 2rem
            margin-left: 1.5rem
            font-size: .9rem


.footer
    background: $footer-bg
    padding: 12rem 0

    .container
        max-width: 88%

    .grid
        display: grid
        grid-template-columns: 34% 23% 7% 7% 15%
        margin-top: 1.5rem
        grid-gap: 2rem
        justify-content: center
        align-items: start

    .location
        display: flex
        justify-content: flex-start
        
        .address-icon
            margin-top: .3rem
            
        .desc-text
            display: inline-block
            max-width: 360px
            margin-left: 1rem

    &__links1,&__links2
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start

    &__contact
        &:not(:first-child)
            padding-top: 1rem

        .info
            margin-left: 1rem